@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Sacramento);

:root {
  --primary-color: #668ca6;
  --light-secondary-color: #dd7f5b;
  --dark-secondary-color: #8a5961;
  --light-font-color: #f5f6f4;
  --dark-font-color: #455a5e;
  --dark-font-secondary-color: #455a5e7e;
  --bg-color: #f5f6f4;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-font-color);
  padding: 1em 2em;
  border-radius: 15px;
  font-size: 1.2em;
  border: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in;
}

button:hover {
  color: var(--light-font-color);
  background: var(--primary-color);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-1.5px);
}

button a {
  text-decoration: none;
  font-weight: bold;
}

a {
  color: var(--light-font-color);
}

input {
  border: none;
}

input:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  background-color: var(--dark-font-color);
  border-radius: 15px;
  box-shadow: 0 2px 8px var(--primary-color);
}

.card-container {
  color: var(--light-font-color);
}
.card-container h1 {
  font-size: 3em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.form-element label {
  font-size: 1em;
}

.form-element input {
  background: none;
  margin-bottom: 1em;
  line-height: 2em;
  color: var(--light-font-color);
  letter-spacing: 0.02em;
  font-size: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-container button {
  margin: 1.5em 0;
}

.form-redirect a {
  color: var(--light-secondary-color);
}

.form-redirect {
  font-size: 1.2em;
}
